/**FONTS**/
@font-face {
  font-family: "Butterfly Reflect"; 
  src: url("//db.onlinewebfonts.com/t/12915b6b3556a9b7eb8532f844bb010f.eot"); 
  src: url("//db.onlinewebfonts.com/t/12915b6b3556a9b7eb8532f844bb010f.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/12915b6b3556a9b7eb8532f844bb010f.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/12915b6b3556a9b7eb8532f844bb010f.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/12915b6b3556a9b7eb8532f844bb010f.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/12915b6b3556a9b7eb8532f844bb010f.svg#Butterfly Reflect") format("svg"); 
}
@font-face {
  font-family: "betterfly"; 
  src: url("//db.onlinewebfonts.com/t/273d109a90780d8fe7bbe69817a67397.eot"); 
  src: url("//db.onlinewebfonts.com/t/273d109a90780d8fe7bbe69817a67397.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/273d109a90780d8fe7bbe69817a67397.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/273d109a90780d8fe7bbe69817a67397.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/273d109a90780d8fe7bbe69817a67397.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/273d109a90780d8fe7bbe69817a67397.svg#betterfly") format("svg"); 
}
@font-face {
  font-family: "Crimson Italic"; 
  src: url("//db.onlinewebfonts.com/t/208cdb5c144cfc84d71e8caacdeb3f0c.eot"); 
  src: url("//db.onlinewebfonts.com/t/208cdb5c144cfc84d71e8caacdeb3f0c.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/208cdb5c144cfc84d71e8caacdeb3f0c.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/208cdb5c144cfc84d71e8caacdeb3f0c.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/208cdb5c144cfc84d71e8caacdeb3f0c.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/208cdb5c144cfc84d71e8caacdeb3f0c.svg#Crimson Text") format("svg"); 
}
@font-face {
  font-family: "Crimson Bold"; 
  src: url("//db.onlinewebfonts.com/t/9c0c72db60c32789832643e2f476572d.eot"); 
  src: url("//db.onlinewebfonts.com/t/9c0c72db60c32789832643e2f476572d.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/9c0c72db60c32789832643e2f476572d.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/9c0c72db60c32789832643e2f476572d.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/9c0c72db60c32789832643e2f476572d.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/9c0c72db60c32789832643e2f476572d.svg#Crimson Text") format("svg"); 
}

/**MAIN CODE**/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-icons:#42962f;
  --clr-text: rgb(119, 44, 103) ;
  --clr-bg-dark: #666d6e;
  --clr-bg-light: #fff;
  --clr-accent: #f6be2e;
  --ff-title: "betterfly", Arial, Helvetica, sans-serif;
  --ff-serif: "Butterfly Reflect", serif;
  --ff-sans: "Crimson Italic", sans-serif;
  --ff-bio: Helvetica, sans-serif, serif;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-sans);
  color: var(--clr-text);
  font-size: 1.125rem;
}

body {
  margin: 1em;
  background-color: var(--clr-bg-light);
  color: var(--clr-text);
  line-height: -5;
  font-family: var(--ff-serif);
  background-image: url(../imgs/shamrock\ bg.png);
  text-align: center;
  padding: 15vh 1em;
}

/**TYPOGRAPHY**/
h2, 
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
  font-size: 3rem;
}

h2, h3, p {
  margin: 0;
}

p {
  margin-bottom: 0.85em;
  font-size: 2rem;
}

/**HOMEPAGE STYLES**/
img {
  display: flex;
  max-width: 50%;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  color: var(--clr-text);
  font-size: 1.125rem;
  padding: 0.5em;
  position: relative;
  align-self: start;
  justify-self: start;
}

.btn::after {
  content: "";
  position: absolute;
  background: var(--clr-accent);
  height: 0.85em;
  width: 75%;
  left: 0;
  top: 50%;
  z-index: -1;
  transition: transform 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
  transform-origin: bottom left;
}

.btn:hover::after,
.btn:focus::after {
  transform: scale(1.35, 1.85);
}

.title {
  color: var(--clr-accent);
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  font-size: clamp(2rem, 8vw, 10rem);
}

.location {
  color: var(--clr-accent);
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
  display: flex;
  align-self: center;
}

header {
  display: flex;
  align-items: center;
  margin: 2em 0;
  padding: 1em 0 2em;
}

/**NAVBAR**/
nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--clr-accent);
  font-size: 2rem;
}

nav a:hover,
nav a:focus {
  color: var(--clr-text);
}

.nav {
  flex-grow: 5;
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: var(--clr-text);
  text-transform: capitalize;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--clr-accent);
}

.secondary-images {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 0.5em;
  max-height: 20%;
  max-width: 20%
}

footer {
  background-color: var(--clr-accent);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-img {
  max-width: 60px;
  background-color: transparent;
}

.social-links {
  display: flex;
  gap: 2em;
  ;
}

.social-link:hover,
.social-link:focus {
  opacity: 0.5;
}

.subgrids {
  display: flex;
  margin-top: 1em;
}

.subgrid-one {
  display: block;
  justify-content: end;
}

.subgrid-two {
  display: flex;
  justify-content: center;
  flex-flow: column wrap-reverse;
}
.subgrid-three {
  display:block;
}

/**ABOUT US**/
